*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0e0d0d;
    /* display: flex; */
}

.container{
    display: flex;
    /* flex-direction: column; */
    /* flex-basis: content; */
    /* justify-content: center; */
    /* align-items: center; */
    height: 100%;
}

.wrapper{
    display: flex;
    height: 100%;
    top: 0;
}

.one{
    height: 100%;
}

.left-sidebar{
    display: flex;
    /* flex-direction: row; */
    width: 260px;
    /* height: 100%; */
    /* border-right: 1px solid grey; */
    /* overflow-x: auto; */
    /* height:fit-content; */
    /* overflow-y: auto; */
    /* padding: 20px; */
    /* margin-bottom: 300px; */
    /* background-color: rgb(175, 139, 167); */
}



.contents{
    display: flex;
    flex-direction: column;
    height:100%;
    /* background-color: rgb(175, 139, 167); */
    /* margin-bottom: auto; */
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
    /* justify-content: space-between; */
    /* padding: 20px; */
}

.contents a{
    text-decoration: none;
    cursor: pointer;
}

.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    position: fixed;
    padding: 20px;
    z-index: 1000;
    color: rgb(253, 251, 247);
    /* background-color:rgb(175, 139, 167); */
}
.logo-img{
    width: 40px;
    height: 40px;
    padding-right: 2px;
    filter: invert(88%) sepia(180%) saturate(25%) hue-rotate(16deg) brightness(15%) contrast(8%);
}

.sub{
    color: black;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* height: 100%; */
    overflow: auto;
    position: relative;
    top: 90px;
    

    /* align-items: center; */
    /* padding-bottom: 30px; */
    /* justify-content: space-around; */
    justify-content: space-between;
}

.sub-icons{
    margin-right: 13px;
    width: 17px;
    height: 17px;
    filter: invert(51%) sepia(9%) saturate(251%) hue-rotate(169deg) brightness(150%) contrast(40%);
}

.main{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    height: 100%;
}

.main a{
    color: rgb(189, 187, 187);
    font-weight: 600;
    text-transform: uppercase;
}

.sub-main{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.sub-main a{
    text-transform: capitalize;
    padding:5px 5px;
}

.options{
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    /* font-size: 17px; */
    margin-right: 15px;
    /* padding: 2px; */
}

.options span{
    cursor: pointer;
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* height: 100%; */
    background-image: url(./img/musicbg1\ \(5\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    width: 1200px;
}

.nav{
    padding: 10px;
    display: flex;
    justify-content:space-around;
}

.nav input{
    background-color: #292728;
    border: 1px solid rgb(197, 195, 195);
    border-radius: 8px;
    padding:6px 30px;
    outline: none;
}

.nav input:focus{
    border: 2px solid #922d57;
}
.search{
    position: relative;
    left:-420px;
    top: 1px;
    margin-right: 10px;
    filter: invert(51%) sepia(9%) saturate(251%) hue-rotate(169deg) brightness(57%) contrast(40%);
}

.user{
    display: flex;
    justify-content: space-between;
    /* padding: 0 5px; */
}

.xxx{
    cursor: pointer;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xxx img{
    margin-left: 15px;
}

.user-icons{
    width: 17px;
    height: 17px;
    filter: invert(51%) sepia(9%) saturate(251%) hue-rotate(169deg) brightness(150%) contrast(40%);
}

.profile{
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    background-color: #3f464e;
    justify-content: center;
    padding:0 7px;
    /* height: 100vh; */
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}

.profile p{
    color: beige;
}

.profile img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.bill{
    color: white;
    /* padding: 0 50px; */
}

.bill p{
    padding: 10px;
    color: wheat;
    line-height: 90px;
}
.title{
    padding: 0 40px;
}

.title h1{
    color: white;
    /* padding:0 40px; */
    font-size: 4rem;
}

.yyy{
    display: flex;
    align-items: stretch;
    margin-bottom: 30px;
    /* justify-content: space-evenly; */
}

.yyy h4{
    margin-right: 17px;
}
.cta{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.listen{
    background-color: purple;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 19px;
    margin-right: 10px;
}

.fav{
    display: flex;
    border: 1px solid pink;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    padding-left:  8.8px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 30px;
}

/* .fav img{ */
    /* background-color: transparent; */
    border: 1px solid pink;
    padding: 20px;
    /* border-radius: 16px ; */
}

.display{
     display: flex;
     margin-top: 30px;
}

.first{
    display: flex;
    width: 500px;
    margin: 40px;
    /* background-color: #292728; */
}

.top-artist{
    display: flex;
    flex-direction: column;
    width: 480px;
    border-radius: 4px;
    background-color: #292728;
    padding: 20px;
}

.dis{
    display: flex;
    margin-top: 30px;
}

.dis img{
    border-radius: 10px;
    margin: 0 7px;
    width: 60px;
    height: 60px;
}